/* @media screen and (max-width: 320px) {
  .popup__form {
    width: 1vw;
  }
} */

.popup__form {
  transition: all .3s ease;
  height: 259px;
  margin: 34px 36px 37px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 520px) {
  .popup__form {
    margin: 25px 22px;
    height: 272px;
  }
}

@media screen and (max-width: 320px) {
  .popup__form {
    width: 80vw;
  }
}
