.profile__edit_button {
  width: 24px;
  height: 24px;
  margin: 15px 0 0 18px;
  transition: .3s ease;
}

@media screen and (max-width: 612px) {
  .profile__edit_button {
    margin: auto 0 0 10px;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit_button {
    position: absolute;
    width: 18px;
    height: 18px;
    right: -20px;
    top: 8px;
  }
}

.profile__edit_button:hover {
  opacity: 0.6;
  cursor: pointer;
}
