.elements__like-button_active {
  background-image: url(../../../../images/activeLike.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 19px;
  width: 22px;
  margin: 5px 5px 5px 0;
  transition: .2s ease;
}
