.profile__add_button_image {
  height: 22px;
  width: 22px;
  margin: 14px auto;
}

@media screen and (max-width: 320px) {
  .profile__add_button_image {
    margin: 17px auto;
    height: 16px;
    width: 16px;
  }
}
